.product-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  img {
    width: 100px;
    border: 0;
  }
  h3 {
    font-size: 16px;
    margin: 0;
  }
  p {
    font-size: 14px;
    margin: 0;
  }
  span {
    font-size: 12px;
    margin: 0;
  }
}

.similar-products {
  display: flex;
  justify-content: space-evenly;
  .product-item{
    padding: 10px;
    img {
      width: 50px;
      border: 0;
    }
  }
}