.headerNav {
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 0;
    background-color: #fff;
    border-bottom: 1px solid #ccc ;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    li {
      list-style: none;
      a {
        text-decoration: none;
        color: #000;
        font-size: 16px;
        font-weight: 500;
        padding: 0 10px;
        opacity: 0.8;
        &:hover {
          color: #030062;
          text-decoration: underline;
          opacity: 1;
        }
        &.active {
          color: #0700c7;
          text-decoration: underline;
          opacity: 1;
        }
      }
    }
  }
}